{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Add heading code -->
    <h1 style="color: #495e57">Menu</h1>

    <table
    style =border:1px solid black;">
    {% for item in mains %}
    <tr>
      <td style="border: 1px solid black">{{item.name}}</td>
      <td style="border: 1px solid black">{{item.price}}</td>
    </tr>
    {% endfor %}
    </table>

    <!-- Add image code -->
    <img src="{% static 'img/dessert.jpg' %}" />
  </body>
</html>
